.section.news {
    background-color: #edededc4;
}

.news_r {
    height: 100vh;
    background-color: grey;
}

.news_r_content_back {
    object-fit: cover;
    width: 1000px;
    height: 1000px;
}

.news_l_content {
    display: flex;
    flex-direction: column;
    padding: 0 40px;
    margin-bottom: 60px;
    flex-wrap: wrap;
    overflow: hidden;
    align-items: center;
}

.news_l_content img:hover {
    transition: 0.35s;
    cursor: pointer;
    box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.5);
}

.news_l_content_text {
    color: #878787;
    padding: 20px 0;
}

.news_l_content_head {
    font-size: 26px;
    font-weight: bold;
    font-family: "Roboto Slab", serif;
    line-height: 38px;
}

.news_content_description_aut {
    color: #c1c1c1;
}

.news_l_content_photo img {
    display: inline-block;
    height: 300px;
    object-fit: contain;
}
