.section {
    display: flex;
    width: 100vw;
}

.section_r,
.section_l {
    width: 50%;
}

.section .section_r {
    position: sticky;
    top: 0;
    overflow: hidden;
}

.section_l {
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
}

.section_l_head a {
    padding: 50px;
    margin-bottom: 50px;
    border-bottom: 4px solid #b8784e;
    text-decoration: none;
    font-size: 40px;
    font-weight: bold;
    display: inline-block;
    color: black;
    font-family: 'Roboto Slab', serif;
}

.section_l h3 {
    font-size: 40px;
    font-family: 'Roboto Slab', serif; 
}

.box_offer {
    background-color: #fff;
    /* max-height: 260px; */
    max-width: 500px;
    padding: 30px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
    align-items: center;
    border-radius: 5px;
    margin-bottom: 30px;
}

.box_offer:hover {
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

.box_offer h4 {
    margin: 30px;
    padding-bottom: 20px;
    font-size: 30px;
    font-family: 'Roboto Slab', serif;
    border-bottom: 4px solid #e6e6e6;
}

.box_offer p {
    color: #878787;
}

.box_offer_ico {
    mask-repeat: no-repeat;
    mask-size: cover;
    height: 50px;
    width: 50px;
    background-color: #b8784e;    
}

