.box_offer .section_l_store_description{
    text-align: left;
}

.box_offer h4 {
    padding-bottom: 0;
}

.store_r {    
    height: 100vh;
    background-color: white;    
}

.store_r_content_back {
    object-fit: cover;
    height: 1000px;
    width: 1000px;
}

.section_l_store {
    display: flex;
}

.section_l_store_buy {
    display: flex;
}

.section_l_store_product {    
    background-color: #e6e6e6;
    padding: 0 20px;
    display: block;
    margin: auto 0;
}

.section_l_store_description h4 {
    color: #b8784e;
    text-align: left;
    border-bottom: none;
    margin-right: 0;
    margin-top: 4px;
}

.section_l_store_description p {
    text-align: left;
    margin-left: 30px;
}

.store_description_price {
    color: #302f2f;
    font-family: "Roboto Slab";
    font-size: 22px;
    margin: 12px 30px;
}

.store_description_add {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    background-color: #b8784e;
    border: none;
    border-radius: 4px;
    width: 160px;
    font-size: 18px;
    cursor: pointer;    
    text-shadow: 0px -1px 2px #ededed;
}

.ico_basket {
    display: inline-block; 
    mask-repeat: no-repeat;
    width: 22px;
    height: 21px;
    margin-right: 8px;
    mask-image: url(/images/storef.svg);
    background-color: #fff;
}

.store_description_add:hover {
    background-color: #b8784ebb;
}