.section.testi {
    background-color: #ededed;
}

.testi_r {    
    height: 100vh;
    background-color: grey;    
}

.testi_l_content {
    display: flex;
    padding: 0 40px;
    margin-bottom: 60px;
}

.testi_l_content_photo img {
    border-radius: 50%;
    background-color: #878787;;
}

.testi_l_content_description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0 16px;
}

.ico_qm,
.testi_l_content_description_text {
    color: #878787;
}

.ico_qm {
    transform: rotate(180deg);
    font-size: 60px;
}

.testi_l_content_description_text {
    padding-bottom: 20px;
}

.testi_l_content_description_aut {
    color: #b8784e; 
}